main    {
    background-image: url(./img/cassino.jpg);
}



h2 {
    font-size: 3em;
}

#tela {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px dotted black;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

#pergunta {
    margin: 20px;
    padding: 10px;
    width: 500px;
}

div#bola {
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.resposta {
    background: #150055;
    border: 1px solid white;
    border-radius: 50%;
    width: 60%;
    height: 60%;
    margin: 20% auto;
}

p#oito {
    font-size: 5em;
    margin: 30% auto;
    color: white;
}

p#resposta {
    padding: 20px;
    color: white;
    letter-spacing: 2px;
}